body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin: 2% auto;
}

form button {
    background-color: lightgreen;
    font-size: 1.5rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1% 4%;
    margin-top: 2%;
    cursor: pointer;
}

form select, form input {
    width: 70%;
    padding: 1%;
    margin-top: 1%;
    border: 2px solid gray;
    border-radius: 10px;
}

form p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main a {
    text-align: center;
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 2%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    cursor: pointer;
}
html {   
    height: 100vh !important;
}